*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@viewport {
  width: device-width;
  zoom: 1;
}

html {
  height: 100%;
}

body {
  display: grid;
  /* grid-template-rows: auto; */
  /* grid-template-rows: auto 1fr auto auto; */
  grid-template-rows: minmax(120px, auto) 1fr 80px 1rem;
  /* try margin: 0, auto; for centering in mobile context */
  margin: 0;
  padding: 0;
  position: relative;
  color: hsl(200, 100%, 10%);
  /* color: hsl(162, 16%, 13%); */
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100%;
  /* min-height: 100vh; */

  /** LIGHT MODE THEMES **/

  /* day */
  /* background: white; */
  /* background: rgba(243, 241, 243, 1); */
  /* background: rgba(255, 252, 252, 1); */

  /* morning */
  /* background: linear-gradient(to right, rgba(244, 244, 244, 1), rgba(135, 206, 250, 1)); */
  background: linear-gradient(to right, rgba(243, 241, 243, 1), rgba(135, 206, 250, 1));
  /* background: linear-gradient(to right, rgba(246, 230, 238, 1), rgba(135, 206, 250, 1)); */
  /* background: linear-gradient(to right, rgba(253, 249, 251, 1), rgba(135, 206, 250, 1)); */

  /* sunrise  TODO: Sunrise can be better */
  /* background: linear-gradient(to right, rgba(251, 244, 138, 1), rgba(135, 206, 250, 1)); */

  /* desert */
  /* background: linear-gradient(to right, rgba(245, 176, 65, 1), rgba(135, 206, 250, 1)); */

  /** DARK MODE THEMES **/
  /* dark */
  /* background: rgba(0, 0, 0, 1); */

  /* new moon */
  /* background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.85)); */

  /* dusk */
  /* background: linear-gradient(to right, rgba(4, 13, 28, 1), rgba(135, 206, 250, 1)); */

  /* winter */
  /* background: linear-gradient(to right, rgba(91, 44, 111, 1), rgba(135, 206, 250, 1)); */

  /* dark mode font color */
  /* color: rgba(244, 244, 244, 1); */
}

.blurred {
  /* background: white; */
  background: rgba(244, 244, 244, 1);
  filter: blur(8px);
  /* filter: opacity(30%); */

  /* dark mode */
  /* background: rgba(0, 0, 0, 0.85); */
}

header {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'city-search'
    'places';
  margin: 2rem 1rem;
}

.place-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-search {
  grid-area: city-search;
  font-size: 1.2rem;
  border: 1px solid #777;
  outline: none;
  border-radius: 0.2em;
  padding: 0.5em;
  width: 90%;
  height: 2em;
}

.places-container {
  grid-area: places;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, minmax(70px, max-content));
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.place-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid hsl(200, 100%, 70%);
  /* border: 1px solid hsl(200, 100%, 25%); */
  border-radius: 0.3em;
  padding: 0.3em;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.place-card:hover {
  background-color: rgba(244, 244, 244, 0.3);
}

.place-card-item {
  pointer-events: none;
}

.place-text {
  font-size: 0.75rem;
  text-transform: capitalize;
}

.btn-delete-place {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.25em 0.5em;
  font-size: 0.65rem;
  font-weight: bold;
  text-align: center;
  color: hsl(200, 100%, 30%);
}

.btn-delete-place:hover {
  background-color: hsl(0, 100%, 55%);
  border-radius: 0.3em;
  color: rgba(243, 241, 243, 1);
}

.btn-new-place {
  background-color: transparent;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  outline: none;
  padding: 0;
  font-size: 0.5rem;
  font-style: italic;
  text-decoration-line: underline;
  color: hsl(200, 100%, 40%);
}

.btn-new-place-disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: grey;
}

.btn-new-place:hover {
  text-decoration-line: none;
  color: hsl(200, 100%, 40%);
}

.main {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'current'
    'daily'
    'hourly';
  margin: 0rem 1rem;
}

.current-section {
  grid-area: current;
}

.daily-section {
  grid-area: daily;
}

.hourly-section {
  grid-area: hourly;
}

.section-title {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.section-subtitle {
  font-size: 0.7rem;
  font-style: oblique;
  text-align: center;
  color: hsl(200, 100%, 30%);
}

.current-container {
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 0.4rem;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 0.25rem;
}

.current-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.current-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.current-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.current-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.current-location {
  font-size: 2rem;
  text-transform: uppercase;
}

.current-detail {
  font-size: 0.5rem;
  font-style: oblique;
  padding-top: 1px;
}

.current-high-low {
  font-size: 0.75rem;
}

.current-temp {
  font-size: 3rem;
  line-height: 1.2;
}

.current-feels-like {
  font-size: 0.85rem;
}

.current-description {
  color: hsl(200, 100%, 30%);
  text-transform: capitalize;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.label {
  font-size: 0.6rem;
  padding-top: 0.1rem;
}

.value {
  color: hsl(200, 100%, 30%);

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.daily-container {
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 0.55rem;
  justify-content: center;
}

.daily-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid hsl(200, 100%, 25%);
  border-radius: 0.25rem;
  padding: 0.3rem;
}

.daily-description {
  font-size: 0.75rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-weight: 500;
  color: hsl(200, 100%, 30%);
  text-transform: capitalize;
  text-align: center;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.hourly-container {
  display: grid;
}

.hour-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hour-row:nth-child(2n) {
  background: linear-gradient(to right, rgba(135, 206, 250, 0), rgba(135, 206, 250, 1));
}

.hour-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-data:nth-child(2) {
  grid-column: 2/4;
}

.hour-data:nth-child(5) {
  justify-content: flex-start;
}

.hour-data:nth-child(6) {
  justify-content: flex-start;
}

.hour-label {
  font-size: 0.65rem;
}

.hour-value {
  color: hsl(200, 100%, 30%);
  font-size: 0.65rem;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.hour-value-margin {
  line-height: 0;
  margin-top: 0.33rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  font-size: 0.75rem;
  height: 30px;
}

@media screen and (min-width: 480px) {
  .places-container {
    grid-template-columns: repeat(auto-fit, minmax(70px, max-content));
  }

  .main {
    margin: 0rem 2rem;
  }

  .current-container {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  .daily-container {
    grid-template-columns: repeat(auto-fit, 120px);
  }
}

@media screen and (min-width: 768px) {
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'city-search places';
    margin: 2rem 3rem;
  }

  .places-container {
    justify-content: end;
  }

  .main {
    margin: 0rem 3rem;
  }

  .current-temp {
    font-size: 3rem;
  }

  .daily-container {
    grid-template-columns: repeat(auto-fit, 120px);
  }

  .hour-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hour-row {
    display: grid;
    grid-template-columns: repeat(7, minmax(60px, 1fr));
    grid-template-rows: auto;
    gap: 0.4rem;
  }

  .hour-data:nth-child(2) {
    grid-column: 2/3;
  }

  .hour-data:nth-child(5) {
    justify-content: center;
  }

  .hour-data:nth-child(6) {
    justify-content: center;
  }

  .footer {
    margin: 2rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    grid-template-columns: 1fr 1.618fr;
  }

  .main {
    grid-template-columns: 1fr 1.618fr;
    /* grid-template-columns: 1fr 1.5fr; */
    grid-template-rows: auto;

    grid-template-areas:
      'current daily'
      'hourly hourly';
  }
}
