*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
  position: relative;
  color: hsl(200, 100%, 10%);
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-height: 100vh;

  /** LIGHT MODE THEMES **/

  /* day */
  /* background: white; */
  /* background: rgba(243, 241, 243, 1); */

  /* morning */
  background: linear-gradient(to right, rgba(244, 244, 244, 1), rgba(135, 206, 250, 1));

  /* sunrise  TODO: Sunrise can be better */
  /* background: linear-gradient(to right, rgba(251, 244, 138, 1), rgba(135, 206, 250, 1)); */

  /* desert */
  /* background: linear-gradient(to right, rgba(245, 176, 65, 1), rgba(135, 206, 250, 1)); */

  /** DARK MODE THEMES **/
  /* dark */
  /* background: rgba(0, 0, 0, 1); */

  /* new moon */
  /* background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.85)); */

  /* dusk */
  /* background: linear-gradient(to right, rgba(4, 13, 28, 1), rgba(135, 206, 250, 1)); */

  /* winter */
  /* background: linear-gradient(to right, rgba(91, 44, 111, 1), rgba(135, 206, 250, 1)); */

  /* dark mode font color */
  /* color: rgba(244, 244, 244, 1); */
}

.blurred {
  /* background: white; */
  background: rgba(244, 244, 244, 1);
  filter: blur(8px);
  /* filter: opacity(30%); */

  /* dark mode */
  /* background: rgba(0, 0, 0, 0.85); */
}

header {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'city-search'
    'places';
  margin: 2rem 3rem;
}

.city-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-search {
  grid-area: city-search;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #777;
  /* border-radius: 5px; */
  border-radius: 0.3rem;
  padding: 10px 15px;
  width: 65%;
}

.places-container {
  grid-area: places;
  display: grid;
  gap: 0.5rem;
  /* max = size places card so location text does not wrap */
  grid-template-columns: repeat(auto-fit, minmax(70px, max-content));
  /* grid-template-columns: repeat(auto-fit, minmax(max-content, max-content)); */
  justify-content: center;
  align-items: baseline;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* grid defaults */
  /* justify-items: stretch; */
  /* align-items: stretch; */
  /* justify-content: stretch; */
  /* align-content: center; */
}

.place-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(200, 100%, 70%);
  /* border: 1px solid hsl(200, 100%, 25%); */
  border-radius: 0.25rem;
  padding: 0.3rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.place-card:hover {
  background-color: rgba(244, 244, 244, 0.3);
}

.place-card-item {
  pointer-events: none;
}

.place-text {
  font-size: 0.75rem;
  text-transform: capitalize;
}

.btn-delete-place {
  position: absolute;
  top: 1px;
  right: 1px;
  border: 1px solid hsl(200, 100%, 70%);
  border-radius: 25%;
  padding: 0.16rem 0.25rem;
  text-align: center;
  font-size: 0.35rem;
  background-color: hsl(200, 100%, 20%);
  color: white;
  font-weight: bolder;
}

.btn-delete-place:hover {
  background-color: orangered;
}

.btn-new-place {
  border: none;
  padding: 0;
  font-size: 0.5rem;
  border-radius: 0.25rem;
  background-color: transparent;
  text-decoration-line: underline;
  cursor: pointer;
  color: hsl(200, 100%, 40%);
  font-style: italic;
}

.btn-new-place-disabled {
  pointer-events: none;
  color: grey;
}

.btn-new-place:hover {
  text-decoration-line: none;
  color: hsl(200, 100%, 40%);
}

.main {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'current'
    'daily'
    'hourly';
  margin: 1rem 3rem;
}

.current-section {
  grid-area: current;
}

.daily-section {
  grid-area: daily;
}

.hourly-section {
  grid-area: hourly;
}

.section-title {
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  text-align: center;
}

.current-container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 250px 50px;
  gap: 0.4rem;
  padding: 0.75rem 1rem;
  border: 1px solid white;
  border-radius: 0.25rem;
}

.current-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.current-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.current-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.current-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.current-location {
  font-size: 2rem;
  text-transform: uppercase;
}

.current-detail {
  font-size: 0.5rem;
  font-style: oblique;
  padding-top: 1px;
}

.current-high-low {
  font-size: 0.75rem;
}

.current-temp {
  font-size: 3.25rem;
}

.current-feels-like {
  font-size: 0.85rem;
}

.current-description {
  color: hsl(200, 100%, 40%);
  text-transform: capitalize;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.label {
  font-size: 0.6rem;
  padding-top: 0.1rem;
}

.value {
  color: hsl(200, 100%, 30%);

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.daily-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  gap: 0.55rem;
  justify-content: center;
}

.daily-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid hsl(200, 100%, 25%);
  border-radius: 0.25rem;
  padding: 0.3rem;
}

.daily-description {
  font-size: 0.75rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-weight: 500;
  color: hsl(200, 100%, 40%);
  text-transform: capitalize;
  text-align: center;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.hour-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-row {
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  gap: 0.4rem;
}

.hour-row:nth-child(2n) {
  background: linear-gradient(to right, rgba(135, 206, 250, 0), rgba(135, 206, 250, 1));
}

.hour-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-label {
  font-size: 0.65rem;
}

.hour-value {
  color: hsl(200, 100%, 30%);
  font-size: 0.65rem;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.hour-value-margin {
  line-height: 0;
  margin-top: 0.33rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
  font-size: 0.75rem;
  height: 30px;
}

@media screen and (min-width: 1150px) {
  body {
    grid-template-rows: minmax(120px, auto) 1fr 80px 1rem;
  }

  .main {
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: auto;

    grid-template-areas:
      'current daily'
      'hourly hourly';
  }

  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'city-search places';
  }

  .city-search {
    width: 75%;
    height: 55px;
  }

  .places-container {
    justify-content: end;
    margin: 0rem;
  }
}
