*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
}

:root {
  --background-blur: hsl(0, 0%, 96%);
  --background-linear-from: hsl(300, 8%, 95%);
  --background-linear-to: hsl(203, 92%, 75%);
  --background-linear-to-lighter: hsl(203, 92%, 85%);
  --background-place-hover: hsla(0, 0%, 96%, 0.3);
  --background-place-btn-hover: hsla(0, 0%, 96%, 0.9);
  --border-color-01: hsl(0, 0%, 100%);
  --border-color-02: hsl(200, 100%, 25%);
  --border-search-input: hsl(0, 0%, 47%); /* border for light mode */
  --color-01: hsl(0, 0%, 100%);
  --color-02: hsl(200, 100%, 10%);
  --color-disabled: hsl(0, 0%, 50%);
  /* --color: hsl(162, 16%, 13%); */
  --color-value: hsl(200, 100%, 30%);
  --color-btn: hsl(200, 100%, 30%);
  --color-btn-hover: hsl(200, 100%, 40%);
  --hour-nth-child-background-from: rgba(135, 206, 250, 0);
  --hour-nth-child-background-to: rgba(135, 206, 250, 1);
  --border-radius-search-input: 0.2em;
  --border-radius: 0.3em;
  --border-radius-circle: 50%;
}

/* html {
  height: 100%;
} */

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--color-02);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* min-height: 100%; */
  min-height: 100vh;

  /** LIGHT MODE THEMES **/

  /* day */
  /* background: white; */
  /* background: rgba(243, 241, 243, 1); */
  /* background: rgba(255, 252, 252, 1); */ /* this one */

  /* morning */
  /* background: linear-gradient(to right, rgba(243, 241, 243, 1), rgba(135, 206, 250, 1)); */
  /* background: linear-gradient(to right, rgba(244, 244, 244, 1), rgba(135, 206, 250, 1)); */
  background: linear-gradient(to right, var(--background-linear-from), var(--background-linear-to)); /* this one */
  /* background: linear-gradient(to right, rgba(246, 230, 238, 1), rgba(135, 206, 250, 1)); */
  /* background: linear-gradient(to right, rgba(253, 249, 251, 1), rgba(135, 206, 250, 1)); */

  /* sunrise  TODO: Sunrise can be better */
  /* background: linear-gradient(to right, rgba(251, 244, 138, 1), rgba(135, 206, 250, 1)); */

  /* desert */
  /* background: linear-gradient(to right, rgba(245, 176, 65, 1), rgba(135, 206, 250, 1)); */

  /** DARK MODE THEMES **/
  /* dark */
  /* background: rgba(0, 0, 0, 1); */
  /* background: #333; */

  /* new moon */
  /* background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.85)); */

  /* dusk */
  /* background: linear-gradient(to right, rgba(4, 13, 28, 1), rgba(135, 206, 250, 1)); */

  /* winter */
  /* background: linear-gradient(to right, rgba(91, 44, 111, 1), rgba(135, 206, 250, 1)); */

  /* dark mode font color */
  /* color: rgba(244, 244, 244, 1); */
}

/* body.dark {
  --accent-color: #D0D066;
  --background-color: #333;
  --text-color: white;
  etc.
} */

.blurred {
  /* background: white; */
  background: var(--background-blur);
  filter: blur(8px);
  /* filter: opacity(30%); */

  /* dark mode */
  /* background: rgba(0, 0, 0, 0.85); */
}

.main-grid-container {
  display: grid;
  /* grid-template-rows: auto; */
  /* grid-template-rows: auto 1fr auto auto; */
  grid-template-rows: 2rem minmax(120px, auto) 1fr 80px 1rem;
  /* try margin: 0, auto; for centering in mobile context */
}

/*
 * header
 */

.navbar {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.5rem 0;
}

.navbar-bg-active {
  background-color: var(--background-linear-from);
  background: linear-gradient(to right, var(--background-linear-from), var(--background-linear-to-lighter));
  transition: 100ms linear;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10%;
}

.menu-container {
  display: flex;
  align-items: center;
}

.jawa {
  font-style: oblique;
  font-weight: bold;
}

.jawa::first-letter {
  font-size: 125%;
}

.jawa-logo,
.jawa-menu {
  width: 30px;
  height: 30px;
}

/*
 * places
 */

.places-section {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-areas:
    'places-search'
    'places';
  /* margin auto for top/bottom is typical setting for mobile */
  margin: 2rem 0;
}

.place-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-search {
  grid-area: places-search;
  font-size: 1.2rem;
  border: 1px solid var(--border-search-input);
  outline: none;
  border-radius: var(--border-radius-search-input);
  padding: 0.5em;
  width: 90%;
  height: 2em;
}

.places-container {
  grid-area: places;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(3, minmax(70px, max-content));
  justify-content: center;
  align-items: center;
}

.place-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--border-color-01);
  border-radius: var(--border-radius);
  padding: 0.3em;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.place-card:hover,
.place-card:focus {
  outline: none;
  background-color: var(--background-place-hover);
}

.place-text {
  font-size: 0.75rem;
  text-transform: capitalize;
}

.btn-delete-place {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid var(--border-color-01);
  border-radius: var(--border-radius-circle);
  outline: none;
  padding: 0.25em 0.5em;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-btn);
  background-color: var(--background-place-hover);
  background-color: var(--background-place-btn-hover);
}

.btn-delete-place:hover {
  box-shadow: 0 0 5px 0 var(--border-color-01);
}

.btn-delete-place:focus {
  background-color: var(--color-02);
  box-shadow: 0 0 5px 0 var(--border-color-01);
  color: var(--color-01);
}

/*
 * main grid
 */

.main {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'current'
    'daily'
    'hourly';
  margin: 0 auto;
}

.current-section {
  grid-area: current;
}

.daily-section {
  grid-area: daily;
}

.hourly-section {
  grid-area: hourly;
}

/*
 * current section 
 */

.current-container {
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 0.4rem;
  padding: 0.75rem;
  border: 1px solid var(--border-color-01);
  border-radius: var(--border-radius);
}

.current-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.current-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.current-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.current-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.current-location {
  font-size: 2rem;
  text-transform: uppercase;
}

.current-detail {
  font-size: 0.5rem;
  font-style: oblique;
  padding-top: 1px;
}

.current-high-low {
  font-size: 0.75rem;
}

.current-temp {
  font-size: 3rem;
  line-height: 1.2;
}

.current-feels-like {
  font-size: 0.85rem;
}

.current-description {
  color: var(--color-value);
  text-transform: capitalize;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.btn-new-place {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 0.5rem;
  font-style: italic;
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-btn);
  text-decoration: underline;
  padding: 0;
}

.btn-new-place-disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--color-disabled);
}

.btn-new-place:hover {
  text-decoration: none;
  color: var(--color-btn-hover);
  transition: 100ms;
}

.btn-new-place:focus {
  animation: flash 100ms linear backwards;
}

@keyframes flash {
  to {
    background-color: var(--color-02);
    color: var(--color-01);
  }
}

/*
 * daily section 
 */

.daily-container {
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 0.55rem;
  justify-content: center;
}

.daily-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--border-color-01);
  border-radius: var(--border-radius);
  padding: 0.3rem;
}

.daily-description {
  font-size: 0.75rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-weight: 500;
  color: var(--color-value);
  text-transform: capitalize;
  text-align: center;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

/*
 * hourly section
 */

.hourly-container {
  display: grid;
}

.hour-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hour-row:nth-child(2n) {
  background: linear-gradient(to right, var(--hour-nth-child-background-from), var(--hour-nth-child-background-to));
}

.hour-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-data:nth-child(2) {
  grid-column: 2/4;
}

.hour-data:nth-child(5) {
  justify-content: flex-start;
}

.hour-data:nth-child(6) {
  justify-content: flex-start;
}

.hour-label {
  font-size: 0.65rem;
}

.hour-value {
  color: var(--color-value);
  font-size: 0.65rem;

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.hour-value-margin {
  line-height: 0;
  margin-top: 0.33rem;
}

/*
 * misc styles
 */

.section-title {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.section-subtitle {
  font-size: 0.7rem;
  font-style: oblique;
  text-align: center;
  color: var(--color-value);
}

.label {
  font-size: 0.6rem;
  padding-top: 0.1rem;
}

.value {
  color: var(--color-value);

  /* dark mode */
  /* color: rgba(244, 244, 244, 1); */
}

.degrees::after {
  content: '°';
}

.percent::after {
  content: '%';
}

/*
 * footer
 */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  height: 30px;
  margin: 2rem auto;
}

/*
 * media queries
 */

@media screen and (min-width: 480px) {
  .places-container {
    grid-template-columns: repeat(auto-fit, minmax(70px, max-content));
  }

  .main {
    margin: 0rem 2rem;
  }

  .current-container {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  .daily-container {
    grid-template-columns: repeat(auto-fit, 120px);
  }
}

@media screen and (min-width: 766px) {
  .places-section {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'places-search places';
    margin: 2rem 3rem;
  }

  .place-search-container {
    align-items: space-around;
  }

  .places-container {
    justify-content: end;
  }

  .main {
    margin: 0rem 3rem;
  }

  .current-temp {
    font-size: 3rem;
  }

  .daily-container {
    grid-template-columns: repeat(auto-fit, 120px);
  }

  .hour-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* flatten hour rows */
  .hour-row {
    display: grid;
    grid-template-columns: repeat(7, minmax(60px, 1fr));
    grid-template-rows: auto;
    gap: 0.4rem;
  }

  .hour-data:nth-child(2) {
    grid-column: 2/3;
  }

  .hour-data:nth-child(5) {
    justify-content: center;
  }

  .hour-data:nth-child(6) {
    justify-content: center;
  }
}

@media screen and (min-width: 1022px) {
  .places-section {
    grid-template-columns: 1fr 1.618fr;
  }

  .main {
    grid-template-columns: 1fr 1.618fr;
    grid-template-rows: auto;

    grid-template-areas:
      'current daily'
      'hourly hourly';
  }
}
