:root {
  /* color palettes */
  --snow: hsl(0, 100%, 99%);
  --off-white: hsl(300, 8%, 95%); /* metric */
  --off-black: hsl(162, 16%, 13%);
  --white: hsl(0, 0%, 100%);
  --grey-99: hsl(0, 0%, 99%);
  --grey-95: hsl(0, 0%, 95%);
  --grey-90: hsl(0, 0%, 90%);
  --grey-85: hsl(0, 0%, 85%);
  --grey-80: hsl(0, 0%, 80%);
  --grey-75: hsl(0, 0%, 75%);
  --grey-70: hsl(0, 0%, 70%);
  --grey-65: hsl(0, 0%, 65%);
  --grey-60: hsl(0, 0%, 60%);
  --grey-55: hsl(0, 0%, 55%);
  --grey-50: hsl(0, 0%, 50%); /* disabled element */
  --grey-45: hsl(0, 0%, 45%);
  --grey-40: hsl(0, 0%, 40%);
  --grey-35: hsl(0, 0%, 35%);
  --grey-30: hsl(0, 0%, 30%);
  --grey-25: hsl(0, 0%, 25%);
  --grey-20: hsl(0, 0%, 20%);
  --grey-15: hsl(0, 0%, 15%);
  --grey-10: hsl(0, 0%, 10%);
  --grey-05: hsl(0, 0%, 5%);
  --black: hsl(0, 0%, 0%);
  --blue-99: hsl(200, 100%, 99%);
  --blue-95: hsl(200, 100%, 95%);
  --blue-90: hsl(200, 100%, 90%);
  --blue-85: hsl(200, 100%, 85%);
  --blue-80: hsl(200, 100%, 80%);
  --blue-75: hsl(200, 100%, 75%);
  --blue-70: hsl(200, 100%, 70%);
  --blue-65: hsl(200, 100%, 65%);
  --blue-60: hsl(200, 100%, 60%);
  --blue-55: hsl(200, 100%, 55%);
  --blue-50: hsl(200, 100%, 50%);
  --blue-45: hsl(200, 100%, 45%);
  --blue-40: hsl(200, 100%, 40%);
  --blue-35: hsl(200, 100%, 35%);
  --blue-30: hsl(200, 100%, 30%);
  --blue-25: hsl(200, 100%, 25%);
  --blue-20: hsl(200, 100%, 20%);
  --blue-10: hsl(200, 100%, 10%);
  --blue-05: hsl(200, 100%, 5%);
  --skyblue-95: hsl(203, 92%, 95%);
  --skyblue-90: hsl(203, 92%, 90%);
  --skyblue-85: hsl(203, 92%, 85%);
  --skyblue-80: hsl(203, 92%, 80%);
  --skyblue-75: hsl(203, 92%, 75%);
  --skyblue-70: hsl(203, 92%, 70%);

  /* variable font size */
  /* smallest value was the original font-size value */
  --font-size: 1rem;
  /* --font-size: clamp(1rem, 0.9vw, 1.05rem); */
  --font-size-small: 0.75rem; /* place text, daily description */
  /* --font-size-small: clamp(0.75rem, 0.8vw, 0.8rem);  */
  --font-size-large: clamp(1.25rem, 1.2vw, 1.5rem); /* section title */
  /* color and fills */
  --color: var(--blue-10);
  --svg-fill-color: var(--blue-10);
  --color-value: var(--blue-30);
  --color-disabled: var(--grey-50);
  /* backgrounds */
  --background-blur: var(--snow);
  --background-linear-from: var(--off-white);
  --background-linear-to: var(--skyblue-75);
  --background-menu: var(--blue-99);
  --header-background-linear-from: var(--off-white);
  --header-background-linear-to: var(--skyblue-85);
  --background-place-hover: hsla(0, 0%, 96%, 0.3);
  --background-place-btn-hover: hsla(0, 0%, 96%, 0.9);
  --hour-nth-child-background-from: hsla(203, 92%, 75%, 0);
  --hour-nth-child-background-to: hsla(203, 92%, 75%, 1); /* var(--skyblue-75); */
  /* borders */
  --border-color: var(--white);
  --border-color-search-input: var(--grey-80);
  --border-thickness: 1px;
  --border-radius-search-input: 0.2em;
  --border-radius: 0.3em;
  /* transitions */
  --transition-duration-btn: 100ms;
  --transition-timing-function-btn: linear;
  --transition-duration-theme: 500ms;
  --transition-timing-function-theme: ease;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  font-size: var(--font-size);
  background: linear-gradient(to right, var(--background-linear-from), var(--background-linear-to));
}

.blurred {
  background: var(--background-blur);
  /* filter: opacity(30%); */
  filter: blur(8px);
}

.page-grid-container {
  display: grid;
}

.page-grid-frame {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 2rem minmax(120px, auto) 1fr 80px 1rem;
}

/*
 * themes
 */

[data-theme='jawa'] {
  transition: var(--transition-duration-theme) var(--transition-timing-function-theme);
}

/* light mode */

body[data-theme='light'] {
  --color-value: var(--blue-35);
  --background-linear-to: var(--white);
  --border-color: hsla(200, 100%, 10%, 0.1); /* var(--blue-10); */
  --border-color-search-input: var(--border-color);
  --hour-nth-child-background-to: var(--skyblue-90);
  --border-thickness: 1.5px;
  transition: var(--transition-duration-theme) var(--transition-timing-function-theme);
}

body[data-theme='light'] .menu {
  box-shadow: 0 0 5px 0 var(--grey-90);
}

/* body[data-theme='light'] .menu-btn {
  background-color: hsla(0, 0%, 95%, 0.3);
  border: 1px solid var(--grey-90);
} */

/* body[data-theme='light'] .menu-btn:hover,
body[data-theme='light'] .menu-btn:focus {
  box-shadow: 0 0 5px 0 var(--skyblue-85);
} */

body[data-theme='light'] .place-card:hover,
body[data-theme='light'] .place-card:focus {
  background-color: hsla(0, 0%, 95%, 0.3);
  box-shadow: 0 0 2px 0 var(--skyblue-85);
}

/* dark mode */

body[data-theme='dark'].blurred {
  background: rgba(0, 0, 0, 0.85);
}

body[data-theme='dark'] {
  --color: var(--grey-85);
  --svg-fill-color: var(--grey-85);
  --color-value: var(--blue-65);
  --background-linear-from: hsla(0, 0%, 0%, 0.8);
  --background-linear-to: hsla(0, 0%, 0%, 1); /* var(--black); */
  --border-color: var(--grey-80);
  --border-color-search-input: var(--grey-96);
  --hour-nth-child-background-from: var(--grey-15);
  --hour-nth-child-background-to: var(--black);
  --border-thickness: 1px;
  transition: var(--transition-duration-theme) var(--transition-timing-function-theme);
}

[data-theme='dark'] .header-bg-active {
  --color: var(--blue-10);
  --svg-fill-color: var(--blue-10);
}

body[data-theme='dark'] .menu {
  background: hsla(0, 0%, 0%, 1);
  box-shadow: 0 0 5px 0 var(--grey-80);
}

body[data-theme='dark'] .menu-btn,
body[data-theme='dark'] .sub-menu::before {
  color: var(--grey-85);
}

body[data-theme='dark'] .menu-btn {
  background-color: hsla(0, 0%, 0%, 1);
  border: 1px solid var(--grey-90);
}

body[data-theme='dark'] .menu-btn:hover,
body[data-theme='dark'] .menu-btn:focus {
  box-shadow: 0 0 5px 0 var(--grey-80);
}

body[data-theme='dark'] .place-card:hover,
body[data-theme='dark'] .place-card:focus {
  background-color: hsla(0, 0%, 95%, 0.3);
}

/*
 * header
 */

.header-container {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem 0.2rem;
}

.header-bg-active {
  background-color: var(--background-linear-from);
  background: linear-gradient(to right, var(--header-background-linear-from), var(--header-background-linear-to));
  transition: var(--transition-duration-btn) var(--transition-timing-function-btn);
}

.jawa-container {
  display: flex;
  align-items: center;
  gap: 10%;
}

.jawa {
  color: var(--color);
  font-style: oblique;
  font-weight: 700;
}

.jawa::first-letter {
  font-size: 125%;
}

.jawa-logo {
  width: 30px;
  height: 30px;
  fill: var(--svg-fill-color);
}

.menu-toggle {
  padding: 1em;
  padding-right: 0;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  color: var(--color);
  background: transparent;
  height: 2px;
  width: 1.5em;
  border-radius: 3px;
  transition: all ease-in-out 300ms;
}

.hamburger::before {
  background: var(--color);
  transform: translateY(-6px);
}

.hamburger::after {
  background: var(--color);
  transform: translateX(8px);
  width: 1em;
}

.open .hamburger::before {
  transform: rotate(45deg);
}

.open .hamburger::after {
  transform: translateY(-2px) rotate(-45deg);
  width: 1.5em;
}

.menu {
  position: absolute;
  top: 105%;
  right: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7rem;
  border-radius: var(--border-radius);
  background: var(--white);
  box-shadow: 0 0 5px 0 var(--blue-80);
  padding: 1em;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 300ms;
}

.open .menu {
  clip-path: circle(200% at top right);
  /*   display: block; */
}

.menu-btn {
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 1em 3em;
  border-radius: var(--border-radius);
  background-color: hsla(0, 0%, 95%, 0.3);
  border: 1px solid var(--grey-90);
}

.menu-btn:hover,
.menu-btn:focus {
  /* h-offset v-offset blur spread color */
  box-shadow: 0 0 5px 0 var(--skyblue-85);
}

.sub-menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.3rem;
}

.units::before {
  content: 'Units';
  color: inherit;
}

.theme::before {
  content: 'Theme';
  color: inherit;
}

.lang::before {
  content: 'Language';
  color: inherit;
}

/*
 * places
 */

.places-section {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'places-search'
    'places';
  /* auto centers objects only when container has specified width */
  width: 100%;
  margin: 2rem auto;
}

.place-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-search {
  grid-area: places-search;
  font-size: 1.2rem;
  border: var(--border-thickness) solid var(--border-color-search-input);
  outline: none;
  border-radius: var(--border-radius-search-input);
  padding: 0.5em;
  width: 90%;
}

.places-container {
  grid-area: places;
  display: grid;
  grid-template-columns: repeat(4, minmax(75px, max-content));
  justify-content: center;
  gap: 0.5rem;
}

.place-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.3em;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.place-card:hover,
.place-card:focus {
  outline: none;
  background-color: var(--background-place-hover);
}

.place-text {
  /* font-size: 0.75rem; */
  text-transform: capitalize;
  font-size: var(--font-size-small);
}

.place-card-item {
  pointer-events: none;
}

.place-btn-delete {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -55%);
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  outline: none;
  padding: 0.25em 0.5em;
  font-size: 0.55rem;
  font-weight: 700;
  text-align: center;
  color: var(--blue-30);
  background-color: var(--background-place-btn-hover);
  transition: var(--transition-duration-btn) var(--transition-timing-function-btn);
}

.place-btn-delete:hover {
  box-shadow: 0 0 5px 0 var(--border-color);
}

.place-btn-delete:focus {
  background-color: var(--blue-10);
  box-shadow: 0 0 5px 0 var(--border-color);
  color: var(--grey-95);
}

.place-btn-new {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 0.5rem;
  font-style: italic;
  border: none;
  border-radius: var(--border-radius);
  color: var(--blue-30);
  text-decoration: underline;
  padding: 0 0.2rem;
  transition: var(--transition-duration-btn) var(--transition-timing-function-btn);
}

.place-btn-new:hover {
  text-decoration: none;
  color: var(--blue-40);
}

.place-btn-new:focus {
  animation: flash var(--transition-duration-btn) var(--transition-timing-function-btn) backwards;
}

@keyframes flash {
  to {
    background-color: var(--color);
    color: var(--white);
  }
}

.place-btn-new-disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--color-disabled);
}

/*
 * main grid
 */

.main {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'current'
    'daily'
    'hourly';
  /* auto centers objects only when container has specified width */
  width: 100%;
  margin: 0 auto;
}

.current-section {
  grid-area: current;
}

.daily-section {
  grid-area: daily;
}

.hourly-section {
  grid-area: hourly;
}

.section-title {
  font-size: var(--font-size-large);
  text-align: center;
  padding-top: 1rem;
}

.section-subtitle {
  font-size: 0.7rem;
  font-style: oblique;
  text-align: center;
  color: var(--color-value);
  padding-bottom: 0.7rem;
}

.label {
  font-size: 0.6rem;
  padding-top: 0.1rem;
}

.value {
  color: var(--color-value);
}

/*
 * current section 
 */

.current-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.75em;
  /* margin: 0 auto; */
}

.current-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.current-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.current-top-right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 15%;
}

.current-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.current-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.current-location {
  font-size: 2rem;
  text-transform: uppercase;
}

.current-detail {
  font-size: 0.5rem;
  font-style: oblique;
  padding-top: 1px;
}

.current-high-low {
  font-size: 0.75rem;
}

/* Galaxy Fold */
.current-temp {
  font-size: 1.75rem;
  line-height: 1.2;
}

.current-feels-like {
  font-size: 0.75rem;
}

.current-description {
  color: var(--color-value);
  text-transform: capitalize;
}

/*
 * daily section 
 */

.daily-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.daily-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.5em;
}

.daily-card:nth-child(7) {
  display: none;
}

.daily-description {
  font-size: var(--font-size-small);
  color: var(--color-value);
  /* font-weight: 700; */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  text-transform: capitalize;
  text-align: center;
}

/*
 * hourly section
 */

.hourly-container {
  display: grid;
}

.hour-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hour-row:nth-child(2n) {
  background: linear-gradient(to right, var(--hour-nth-child-background-from), var(--hour-nth-child-background-to));
}

.hour-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hour-data:nth-child(2) {
  grid-column: 2/4;
}

.hour-data:nth-child(5) {
  justify-content: flex-start;
}

.hour-data:nth-child(6) {
  justify-content: flex-start;
}

.hour-label {
  font-size: 0.65rem;
}

.hour-value {
  color: var(--color-value);
  font-size: 0.65rem;
}

.hour-value-margin {
  line-height: 0;
  margin-top: 0.33rem;
}

/*
 * pseudo elements
 */

[data-temp-units]::after {
  content: attr(data-temp-units);
}

[data-visibility-units]::after {
  content: attr(data-visibility-units);
}

[data-wind-units]::after {
  content: attr(data-wind-units);
}

.degrees::after {
  content: '°';
}

.percent::after {
  content: '%';
}

/*
 * footer
 */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  height: 30px;
  margin: 2rem 1rem;
}

footer > a:hover,
footer > a:focus {
  text-decoration: none;
}

footer > a:visited {
  color: var(--blue-35);
}

/*
 * media queries
 */

@media screen and (min-width: 360px) {
  /* Galaxy S20 */
  .current-temp {
    font-size: 2.3rem;
  }

  .current-feels-like {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 375px) {
  .current-temp {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 380px) {
  .current-temp {
    font-size: 2.75rem;
  }
}

@media screen and (min-width: 391px) {
  .current-temp {
    font-size: 3rem;
  }
}

@media screen and (min-width: 480px) {
  .places-container {
    /* fit columns into the available space */
    grid-template-columns: repeat(auto-fit, minmax(75px, max-content));
  }
}

@media screen and (min-width: 766px) {
  .page-grid-frame {
    width: 90%;
  }

  .current-top-right-block {
    padding-top: 12%;
  }

  .daily-container {
    grid-template-columns: repeat(6, 1fr);
  }

  /* flatten hour rows */
  .hour-row {
    display: grid;
    grid-template-columns: repeat(7, minmax(60px, 1fr));
    grid-template-rows: auto;
    gap: 0.4rem;
  }

  .hour-data:nth-child(2) {
    grid-column: 2/3;
  }

  .hour-data:nth-child(5) {
    justify-content: center;
  }

  .hour-data:nth-child(6) {
    justify-content: center;
  }

  .header-container {
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (min-width: 1022px) {
  .places-section {
    grid-template-columns: 1fr 1.618fr;
    grid-template-areas: 'places-search places';
  }

  .place-search {
    width: 95%;
  }

  .places-container {
    justify-content: end;
  }

  .main {
    /* grid-template-columns: 1fr 1.618fr; */
    grid-template-columns: minmax(375px, 1fr) 1.5fr;
    grid-template-areas:
      'current daily'
      'hourly hourly';
  }

  .daily-container {
    grid-template-columns: repeat(auto-fit, 120px);
    justify-content: center;
  }

  .daily-card:nth-child(6) {
    display: flex;
  }

  .daily-card:nth-child(7) {
    display: flex;
  }
}
