:root {
  font-family: 'Lato', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: var(--fs-normal);
  color: var(--color);
  background: linear-gradient(to right, var(--off-white), var(--skyblue-75));
}

.blur {
  background: var(--snow);
  filter: blur(5px);
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}

.error {
  width: 90%;
  border: var(--border-thickness-input) solid hsl(0, 65%, 50%);
  border-radius: var(--border-radius-input);
  padding: 0.5em 1em;
  outline: none;
  font-size: 1.1rem;
  /* color: hsl(0, 90%, 10%); */
  color: hsl(0, 65%, 50%);
  text-align: center;
  white-space: pre-wrap;
  font-style: oblique;
}

.label {
  font-size: 0.6rem;
  padding-top: 0.1rem;
}

.value {
  color: var(--color-value);
}

/*
 * pseudo elements
 */

[data-temp-units]::after {
  content: attr(data-temp-units);
}

[data-visibility-units]::after {
  content: attr(data-visibility-units);
}

[data-wind-units]::after {
  content: attr(data-wind-units);
}

.degrees::after {
  content: '°';
}

.percent::after {
  content: '%';
}
