:root {
  font-family: 'Lato', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: var(--fs-normal);
  color: var(--color);
  background: linear-gradient(
    to right,
    var(--background-linear-from),
    var(--background-linear-to)
  );
  /* TODO: How to transition to themes? */
  /* transition: 2s ease; */
}

.blur {
  background: var(--snow);
  filter: blur(5px);
}

/* display modes */
body[data-theme='light'] {
  --background-linear-to: var(--white);
  --color-value: var(--blue-35);
  --border-color-card: hsla(200, 100%, 10%, 0.1); /* var(--blue-10); */
  --border-color-input: var(--border-color-card);
  --border-thickness-card: 1.5px;
  --border-thickness-input: 1.5px;
  --hour-nth-child-background-to: var(--skyblue-90);
}

/* user notification */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
}

.error {
  padding: 0.5em 1em;
  outline: none;
  font-size: 1.1em;
  color: hsl(0, 90%, 50%);
  text-align: center;
  white-space: pre-wrap;
  font-style: oblique;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
}

.loading {
  padding: 0.5em 1em;
  outline: none;
  font-size: 1.1em;
  color: white;
  white-space: pre-wrap;
  font-style: oblique;
}
