:root {
  --snow: hsl(0, 100%, 99%);
  --off-white: hsl(300, 8%, 95%);
  --white: hsl(0, 0%, 100%);
  --off-black: hsl(162, 16%, 13%);
  --black: hsl(0, 0%, 0%);

  /* grey palette */
  --grey-99: hsl(0, 0%, 99%);
  --grey-95: hsl(0, 0%, 95%);
  --grey-90: hsl(0, 0%, 90%);
  --grey-85: hsl(0, 0%, 85%);
  --grey-80: hsl(0, 0%, 80%);
  --grey-75: hsl(0, 0%, 75%);
  --grey-70: hsl(0, 0%, 70%);
  --grey-65: hsl(0, 0%, 65%);
  --grey-60: hsl(0, 0%, 60%);
  --grey-55: hsl(0, 0%, 55%);
  --grey-50: hsl(0, 0%, 50%); /* disabled element */
  --grey-45: hsl(0, 0%, 45%);
  --grey-40: hsl(0, 0%, 40%);
  --grey-35: hsl(0, 0%, 35%);
  --grey-30: hsl(0, 0%, 30%);
  --grey-25: hsl(0, 0%, 25%);
  --grey-20: hsl(0, 0%, 20%);
  --grey-15: hsl(0, 0%, 15%);
  --grey-10: hsl(0, 0%, 10%);
  --grey-05: hsl(0, 0%, 5%);

  /* blue palette */
  --blue-99: hsl(200, 100%, 99%);
  --blue-95: hsl(200, 100%, 95%);
  --blue-90: hsl(200, 100%, 90%);
  --blue-85: hsl(200, 100%, 85%);
  --blue-80: hsl(200, 100%, 80%);
  --blue-75: hsl(200, 100%, 75%);
  --blue-70: hsl(200, 100%, 70%);
  --blue-65: hsl(200, 100%, 65%);
  --blue-60: hsl(200, 100%, 60%);
  --blue-55: hsl(200, 100%, 55%);
  --blue-50: hsl(200, 100%, 50%);
  --blue-45: hsl(200, 100%, 45%);
  --blue-40: hsl(200, 100%, 40%);
  --blue-35: hsl(200, 100%, 35%);
  --blue-30: hsl(200, 100%, 30%);
  --blue-25: hsl(200, 100%, 25%);
  --blue-20: hsl(200, 100%, 20%);
  --blue-10: hsl(200, 100%, 10%);
  --blue-05: hsl(200, 100%, 5%);

  /* skyblue palette */
  --skyblue-95: hsl(203, 92%, 95%);
  --skyblue-90: hsl(203, 92%, 90%);
  --skyblue-85: hsl(203, 92%, 85%);
  --skyblue-80: hsl(203, 92%, 80%);
  --skyblue-75: hsl(203, 92%, 75%);
  --skyblue-70: hsl(203, 92%, 70%);
  --skyblue-65: hsl(203, 92%, 65%);
  --skyblue-60: hsl(203, 92%, 60%);
  --skyblue-55: hsl(203, 92%, 55%);
  --skyblue-50: hsl(203, 92%, 50%);
  --skyblue-45: hsl(203, 92%, 45%);
  --skyblue-40: hsl(203, 92%, 40%);
  --skyblue-35: hsl(203, 92%, 35%);
  --skyblue-30: hsl(203, 92%, 30%);
  --skyblue-25: hsl(203, 92%, 25%);
  --skyblue-20: hsl(203, 92%, 20%);
  --skyblue-15: hsl(203, 92%, 15%);
  --skyblue-10: hsl(203, 92%, 10%);
  --skyblue-05: hsl(203, 92%, 05%);
}
