:root {
  /* variable font size */
  --fs-normal: 1rem;
  --fs-small: 0.75rem; /* place text, daily description */
  --fs-large: clamp(1.25rem, 1.2vw, 1.5rem); /* section title */

  /* color and fills */
  --color: var(--blue-10);
  --svg-fill-color: var(--blue-10);
  --color-value: var(--blue-30);
  --color-disabled: var(--grey-50);

  /* backgrounds */
  --background-linear-from: var(--off-white);
  --background-linear-to: var(--skyblue-75);
  --hour-nth-child-background-from: hsla(203, 92%, 75%, 0); /* --skyblue-75 */
  --hour-nth-child-background-to: hsla(203, 92%, 75%, 1); /* --skyblue-75 */

  /* borders */
  --border-thickness-card: 1px;
  --border-color-card: var(--white);
  --border-radius-card: 0.3em;
  --border-thickness-input: 1px;
  --border-color-input: var(--grey-80);
  --border-radius-input: 0.2em;
}
