.place-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: var(--border-thickness-card) solid var(--border-color-card);
  border-radius: var(--border-radius-card);
  padding: 0.3em;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.place-card:hover,
.place-card:focus {
  outline: none;
  background-color: hsla(0, 0%, 96%, 0.3);
}

.place-text {
  /* font-size: 0.75rem; */
  text-transform: capitalize;
  font-size: var(--fs-small);
}

.place-card-item {
  pointer-events: none;
}
