.btn-place-delete {
  -web-kit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  background: hsl(0, 0%, 100%);
  height: 16px;
  width: 16px;
  border: 1px solid hsl(0, 0%, 90%);
  /* border-radius: 50%; */
  border-radius: 98px;
  z-index: 10;
}

.btn-svg-delete {
  height: 8px;
  width: 8px;
  stroke: hsl(0, 0%, 69%);
  stroke-width: 3;
  stroke-linecap: round;
  pointer-events: none;
}
