.place-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: var(--border-thickness-card) solid var(--border-color-card);
  border-radius: var(--border-radius-card);
  padding: 0.3em;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  outline: none;
}

.place-text {
  text-transform: capitalize;
  font-size: var(--fs-small);
}

.place-card-item {
  pointer-events: none;
}

.place-card:hover,
.place-card:focus {
  background-color: hsla(0, 0%, 96%, 0.3);
  outline: none;
}

/* light mode */
body[data-theme='light'] .place-card:hover,
body[data-theme='light'] .place-card:focus {
  background-color: hsla(0, 0%, 95%, 0.3);
  box-shadow: 0 0 3px 0 var(--skyblue-85);
  outline: none;
}

/* dark mode */
body[data-theme='dark'] .place-card:hover,
body[data-theme='dark'] .place-card:focus {
  background-color: hsla(0, 0%, 93%, 0.3);
  outline: none;
}
