.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  grid-area: search;
  width: 90%;
  border: var(--border-thickness-input) solid var(--border-color-input);
  outline: none;
  font-size: 1.2rem;
  /* font-size: inherit; */
  padding: 0.5em;
  border-radius: var(--border-radius-input);
}

@media screen and (min-width: 1022px) {
  .search {
    width: 95%;
  }
}
