.header-container {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem 0.2rem;
}

.header-active {
  background: linear-gradient(to right, var(--off-white), var(--skyblue-85));
  transition: 100ms linear;
}

@media screen and (min-width: 766px) {
  .header-container {
    padding: 0.5rem 1.5rem 0.2rem;
  }
}
