.menu {
  position: absolute;
  top: 105%;
  right: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.7rem;
  border-radius: var(--border-radius);
  background: var(--blue-99);
  box-shadow: 0 0 5px 0 var(--blue-80);
  padding: 1em;
  opacity: 1;
  /* clip-path: circle(0px at top right); */
  /* clip-path: circle(200% at top right); */
  /* transition: clip-path ease-in-out 300ms; */
  z-index: 999;
}

:global(.open) .menu {
  /* clip-path: circle(200% at top right); */
  opacity: 1;
}

.menu-blanket {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  /* background: rgb(0, 0, 0, 0.1); */
  z-index: 900;
}

.sub-menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.3rem;
}

.units::before {
  content: 'Units';
  color: inherit;
}

.theme::before {
  content: 'Theme';
  color: inherit;
}

.lang::before {
  content: 'Language';
  color: inherit;
}
