.topbar-container {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem 0.2rem;
}

.topbar-active {
  background: linear-gradient(to right, var(--off-white), var(--skyblue-85));
  transition: 100ms linear;
}

/* dark mode */
body[data-theme='dark'] .topbar-active {
  --color: var(--blue-10);
  --svg-fill-color: var(--blue-10);
}

@media screen and (min-width: 768px) {
  .topbar-container {
    /* top right/left bottom */
    padding: 0.5rem 1.5rem 0.2rem;
  }
}
