.current-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
  border: var(--border-thickness-card) solid var(--border-color-card);
  border-radius: var(--border-radius-card);
  padding: 0.75em;
}
