.daily-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: var(--border-thickness-card) solid var(--border-color-card);
  border-radius: var(--border-radius-card);
  padding: 0.5em;
}

.daily-card:nth-child(7) {
  display: none;
}

.daily-day {
  text-transform: capitalize;
}

.daily-description {
  font-size: var(--fs-small);
  color: var(--color-value);
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  text-transform: capitalize;
  text-align: center;
}

.day-label {
  font-size: 0.6rem;
  padding-top: 0.1rem;
}

.day-value {
  color: var(--color-value);
}

@media screen and (min-width: 1022px) {
  .daily-card:nth-child(7) {
    display: flex;
  }
}
