footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  height: 30px;
  margin: 2rem 1rem 2rem 1rem;
}

footer > a:hover,
footer > a:focus {
  text-decoration: none;
}

footer > a:link,
footer > a:visited {
  color: var(--color-value);
}

/* dark mode */
body[data-theme='dark'] footer > a:link,
body[data-theme='dark'] footer > a:visited {
  color: var(--blue-65);
}
