.page-container {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 2rem minmax(120px, auto) 1fr 80px 1rem;
}

/* TODO: temporary */
main {
  min-height: 600px;
}

@media screen and (min-width: 766px) {
  .page-container {
    width: 90%;
  }
}
